*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: blanchedalmond;
    height: 80hv;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box-login {
    flex-shrink: 0;
    background-color: rgb(88, 79, 79);
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-groupe{
    position: relative;
}

label{
    margin: 5px 23px;
    font-size: 20px;
    padding: 10px 0 5px 0;
    display: block;
    position: relative;
}
input{
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    background-color: aliceblue;
    width: 400px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 22px;
    border: 1px solid #0000003d;
}
.icone-verif{
    width: 30px;
    position: absolute;
    right: 27px;
    top: 57px;
    display: none;
}
.message-alerte {
    margin: 0px 23px;
    color: crimson;
    display: none;
}
button{
    display: block;
    margin: 30px;
    outline: 0;
    background-color: rgb(250, 165, 9);
    width: 90%;
    border: 0;
    padding: 15px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 181, 49);
}
button:active{
    background-color: rgb(250, 165, 9);
}

.ligne{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.l1, .l2, .l3{
    width: 30%;
    height: 5px;
    margin: 15px 5px 20px;
    position: relative;
    display: none;
}
.l1{
    background-color: red;
}
.l2{
    background-color: orangered;
}
.l3{
    background-color: green;
}
.ligne span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

}

